@media screen and (max-width: 1280px){
    body{
        width: 100%;
        flex-direction: column;
    }
    #section1{
        width:100%;
        border: none;
        
    }
    #section1 p{
       margin: .2em .5em;
        text-align: left;
    }
    span.cashe{
        color: gray;
        text-transform: uppercase;
        font-size: 1.8em;
       text-align: left;
        width: 100%;
    }
    .img{
        margin: 0 !important;
        width: 30%;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #section1 ul{
        margin: 0 auto;
    }
    .svg {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .content h2{
        width: 100%;
    }
    .cashe{
        width: 70%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    
    
    
    #section2{
        width: 100%;
        border: none;
    }
    
    .hide{
        display: none;
    }
    
    .icon{
        display: none;
    }
    #parcour{
        width: 100%;
        margin: 0 auto;
    }
    #section2 h2{
        padding: 0;
        width: 100%;
    }
    
    .travail{
        width: 98%;
        margin-left: auto;
        margin-right: auto
    }
    
}